<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="WebTestChallange">
    <listeners>
        <listener class-name="org.naic.mfl.se.challenge.Utility.ScreenShotListener"/>
        <listener class-name="org.testng.reporters.EmailableReporter" />
    </listeners>
    <test name="ChromeBrowser" >
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="org.naic.mfl.se.challenge.Tests.TestWebPages" />
        </classes>
    </test>

    <test name="FireFox Browser">
       <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="org.naic.mfl.se.challenge.Tests.TestWebPages" />
        </classes>
    </test>

</suite>